.post {
    border-radius: 6px;
}

#wrapper #content {
    width: 540px;
    margin-left: 104px;
}

#wrapper #sidebar {
    float: right;
    margin-right: -35px;
}

#wrapper #title {
    width: 540px;
    margin-left: 104px;
    margin-top: -112px;
    padding-bottom: 30px;
    position: absolute;
}

#wrapper #title a {
    text-align: center;
    display: block;
}

#wrapper #title a:hover {
    opacity: 0.9;
}

#wrapper {
    /*    margin-right: 160px; */
    width: 900px;
    margin-top: 50px;
}

#wrapper #sidebar #top {
    webkit-border-top-left-radius: 6px;
    webkit-border-top-right-radius: 6px;
    moz-border-radius-topleft: 6px;
    moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#wrapper #sidebar #top #description {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#theheader {
    background-color: #12002a;
    height: 71px;inline-block;
    border-bottom: 1px solid #3a0084;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.9;
}

#sidenav {
    padding: 13px 0;
    width: 175px;
    position: fixed;
    background-color: #12002a;
    opacity: 0.9;
    border-top: 1px solid #3a0084;
    border-right: 1px solid #3a0084;
    border-bottom: 1px solid #3a0084;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 50px;
}

#sidenav ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: inline;
    text-align: center;
    color: white;
}

#sidenav ul li {
    border-top: 1px solid #6400E8;
    padding-bottom: 8px;
    padding-top: 13px;
    padding-left: 8px;
    height: 20px;
    display: block;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#sidenav ul li:hover {
    background-color: #6400E8;
    
}

#sidenav a:active {
    background-color: #330073;
}
#sidenav ul li:last-child {
    border-bottom: 1px solid #6400e8;
}
.ask_sub_button {
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1.6%;
}

#ask_button {
    float: left;
    margin-left: 33px;
}

#submit_button {
    float: right;
    margin-right: 33px;
}

#wrapper #content .post .copy  p {
    font-size: 13px;
}

#wrapper_header {
    width: 900px;
    height: 71px;
    margin: auto;
    display: block;
}

#ask_submit_header {
    /*    background-color: #3a0084;    */
    height: 71px;
    width: 250px;
    float: right;
    margin-right: -35px;
    border-radius: 6px;
}

#content_header {
    height: 71px;
    width: 540px;
    /*    background-color: #3a0084;    */
    float: left;
    margin-left: 104px;
    border-radius: 6px;
}

.ask_sub_button:hover {
    opacity: 0.5;
}

#content_header_title {
    margin: 30px 0;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 1px 3px 5px rgba(0,0,0, 0.5);
    letter-spacing: -1px;
}

#wrapper_header #content_header a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

#ask_page_default {
    display: none;
}

#sidenav  a {
    text-decoration: none;
    color: white;
}

#sidenav .page-scroll-nav li{
    float: left;
    display: inline;
    width: 78px;
    text-align: center;
    border-left: 1px solid white;
}
